@import './base.css';

.container {
    width: 40vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: rgb(61, 164, 233);
}

.red {
    width: 1.5rem;
    height: 1.5rem;

    display: block;

    background-color: rgb(255, 0, 0);

    border-radius: 999px;
}

.green {
    width: 1.5rem;
    height: 1.5rem;

    display: block;

    background-color: rgb(0, 255, 0);

    border-radius: 999px;
}