@import './base.css';

.container {
    width: 60vw;
    margin: 0 auto;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    background-color: rgb(61, 164, 233);
    border-radius: 1rem;
}

.red {
    width: 1.5rem;
    height: 1.5rem;

    display: block;

    background-color: rgb(255, 100, 100);

    border-radius: 999px;
}

.green {
    width: 1.5rem;
    height: 1.5rem;

    display: block;

    background-color: rgb(125, 233, 133);

    border-radius: 999px;
}

.bubble {
    padding: 1rem;

    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.trigger {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;
}

.button-container {
    width: 4.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    margin: 1rem auto;

    position: relative;

    border-radius: 999px;
    
    transition: all 0.3s ease-in-out;
}

.button-container {
    cursor: pointer;
}

.button {
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    color: rgb(123, 151, 186);
    font-size: 1.1rem;

    border-radius: 999px;
    border: none;

    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease-in-out;
}

.on {
    transform: translateX(2rem);
}

.off {
    transform: translateX(0);
}

.c-on {
    background-color: rgb(125, 233, 133);
}

.c-off {
    background-color: rgb(255, 100, 100);
}